/* 
    Created on : 01/06/2017, 09:35:03 AM
    Author     : alberto.dejesus
*/


.form-control-feedback{
    right: 15px;
}
.help-block{
    margin-top: 0;
    margin-bottom: 0;
}
#img-dash{
    width: 120px;
    height: 43px;
}
.th-inner{
    background: #2F73BB;
    color:white;
}
.btn-primary{
    background: #23A5B9;
    border-color: transparent;
}
.div-btn{
    padding: 50px 0;
    text-align: center;
}
.div-btn2{
    padding-bottom: 30px;
    text-align: center;
}
.progress-description, .info-box-text{
    font-size: 19px;
}
#grafico-home-faltas tspan{
    /*display:none;*/
}
.alert-beto{
    background: #ECF0F5;
    border:1px solid #E0861E;
}

/*FIN loader-icon*/
.highcharts-credits{
    display: none;
}
.btn-orange{
    background-color: #E0861E;
    border-color: #d17d1d;
    color:white;
}
.btn-orange:hover,.btn-orange:active{
    background-color: #d17d1d;
    border-color: #d17d1d;
    color:white;  
}
.highcharts-container {
    /*width:100% !important;*/
    /*height:100% !important;*/
}
.cerrar-session-btn{
    cursor: pointer;
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side{
/*    background: #363636;*/
    background: #1e1723;
    border-right:1px solid #d2d6de;
}
.skin-blue .main-header .logo, .skin-blue .main-header .navbar,.skin-blue .main-header .logo:hover,.skin-blue .main-header .navbar .sidebar-toggle:hover{
    background:#9A69E5; 
}
.skin-blue .main-header .navbar .sidebar-toggle,.skin-blue .main-header .logo{
    color:white;
}
.skin-blue .sidebar-menu>li.header{
    background:#9A69E5; 
    color:white;  
}
.skin-blue .sidebar a,.skin-blue .user-panel>.info, .skin-blue .user-panel>.info>a{
    color:#fff;    
}
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a{
    background:#000000;     
    color:#fff;
    font-weight: 600;
    border-color: #02ea02;
}
.skin-blue .sidebar-menu>li>.treeview-menu{
    background: #271e2d;
}
.skin-blue .treeview-menu>li>a{
    /*color:#777979;*/
    /*color:#28B550;*/
}
.skin-blue .treeview-menu>li>a:hover,.skin-blue .treeview-menu>li.active>a, .skin-blue .treeview-menu>li>a:hover{
    color:#02ea02;
    font-weight: 600;
}

#menu-top{
    /*border:1px solid red;*/    
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    display: block;
    float: left;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: left;
    margin-left: 0;
    font-weight: 300;
    overflow: hidden;
    /*color:#25C4DB;*/
    color:#ff9f23;
}
.sidebar-collapse .user-panel #img-dash{
    width: 30px;
    height: 30px;
}

.upload-demo .upload-demo-wrap,
.upload-demo .upload-result,
.upload-demo.ready .upload-msg {
    display: none;
}
.upload-demo.ready .upload-demo-wrap {
    display: block;
}
.upload-demo.ready .upload-result {
    display: inline-block;    
}
.upload-demo-wrap {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.upload-msg {
    text-align: center;
    padding: 50px;
    font-size: 22px;
    color: #aaa;
    width: 260px;
    margin: 50px auto;
    border: 1px solid #aaa;
}
input[type="file"] {
    cursor: pointer;
}
button:focus {
    outline: 0;
}

.file-btn {
    position: relative;
}
.file-btn input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.actions {
    padding: 5px 0;
}
.actions button {
    margin-right: 5px;
}
.bg-cdice-purple{
    background-color: #9A69E5;
    color:#fff;
}
.bg-cdice-blue{
    background-color: #02ea02;
    color:#fff;
}
.box-cdice-purple{
    border-top-color: #9A69E5;
}
.box-cdice-blue{
    border-top-color: #02EA02;
}
.btn-primary {
    background: #2F73BB!important;
    border-color:#2F73BB!important;
}
.btn-success {
    background: #34B54D!important;
    border-color:#34B54D!important;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color: #2F73BB;
    border-color: #2F73BB;
}
.box-primary{
    border-color: #ff9f23!important;   
}


/* ICON LOADER */ 
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1999;
    opacity: 0.98;
    background: white;

}
#loader-wrapper h4{
    display: block;
    position: relative;
    top:50%;
    text-align: center;
    -webkit-animation: fadeInFromNone 2s ease-out;
    -moz-animation: fadeInFromNone 2s ease-out;
    -o-animation: fadeInFromNone 2s ease-out;
    animation: fadeInFromNone 2s ease-out infinite;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top-color: #2F72BA;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top-color: #34B54E;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top-color: #EB2F29;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0.2;
    }

    1% {
        display: block;
        opacity: 0.3;
    }

    100% {
        display: block;
        opacity: 1;
    }
}
@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0.2;
    }

    1% {
        display: block;
        opacity: 0.3;
    }

    100% {
        display: block;
        opacity: 1;
    }
}
/* ICON LOADER */ 

.input-group-addon{
    background: #f7f7f7!important;
    color:#000!important;
    font-weight: bold!important;
}
.group-blue{
    background: #3fa5c6!important;
    color:#fff;
    border-color: #3fa5c6!important;
}

tbody > tr > td {
    vertical-align: middle!important;
}
.filterControl{
    margin: 0px!important;
}
.table-striped>tbody>tr:nth-of-type(odd)
{
    background:#e8e8f2 !important; 
}
.fixed-table-container{
    /*border:1px solid #3B6FB9!important;*/
}
.like{
    cursor: pointer;
}

.div-home-c{
    margin: 0 auto;
    display: flex;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.div-home-c span{
    font-weight: bold;
}