/* 
    Created on : 02/06/2017, 08:30:33 AM
    Author     : beto2102
*/
.box-body{
    height: 420px; 
    /*display: table-cell;*/
    /*    vertical-align: middle;
        border: 1px solid blue;*/
    /*border-top: 3px solid #25C4DB;*/
}
#home_class_section_2{
    /*height: 420px;*/ 
}
#home_class_section_3{
    height: 400px;
    overflow: hidden;
}

.box-header{
    text-align: center!important;
}

.users-list li img{
    width: 50px;
    height: 50px;
}
.users-list>li{
    width: 50%;
}