body{
    background: rgb(64,26,65); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(64,26,65,1) 0%, rgba(91,25,102,1) 47%, rgba(91,25,102,1) 55%, rgba(91,25,102,1) 55%, rgba(64,26,65,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(64,26,65,1) 0%,rgba(91,25,102,1) 47%,rgba(91,25,102,1) 55%,rgba(91,25,102,1) 55%,rgba(64,26,65,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(64,26,65,1) 0%,rgba(91,25,102,1) 47%,rgba(91,25,102,1) 55%,rgba(91,25,102,1) 55%,rgba(64,26,65,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#401a41', endColorstr='#401a41',GradientType=1 ); /* IE6-9 */
    text-align: center;
}
html,body{
    position: relative;
    height: 100%;
}
.login-container{
    position: relative;
    width: 300px;
    margin: 10% auto;
    padding: 30PX 40px;
    text-align: center;
    background: rgba(255, 255, 255, 0.78);
    border-top: 4px solid #02ea02;
}
.avatar{
    text-align: center;
    width: 200px;height: auto;
    margin: 0 auto;
    padding: 10px 0;
}
.form-box input{
    width: 100%;
    padding: 10px;
    text-align: center;
    height:40px;
    border: 1px solid #ccc;;
    background: #fafafa;
    transition:0.2s ease-in-out;

}
.form-box input:focus{
    outline: 0;
    background: #eee;
}
.form-box input[type="text"]{
    border-radius: 5px 5px 0 0;
    text-transform: lowercase;
}
.form-box input[type="password"]{
    border-radius: 0 0 5px 5px;
    border-top: 0;
}
.form-box #login{
    margin-top:15px;
    padding: 10px 20px;
}
.btn-cdice-blue{
    background: #02ea02!important;
    border:none!important;
    color:#fff;
}
.btn-cdice-blue:hover,.btn-cdice-blue:visited{
    background: #04db04!important;
    color:#fff!important;
}